{% extends 'layout.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}
<section>
    <h1 class="text-center">Welcome to the Raptor Store</h1>

    <h2>
        {% if search %}
            {% if products is not empty %}
                Products matching "{{ search }}"
            {% else %}
                We've run out, check back later!
            {% endif %}
        {% else %}
            Today's sweet products:
        {% endif %}
    </h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>${{ product.price|number_format(2) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
